<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Scrumly</title>
    <link rel="icon" type="image/png" href="/assets/logos/png/logo_rounded.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" media="screen and (min-width: 768px) and (max-width: 1366px)" href="/css/tablet/tablet.css"
        type="text/css" />
    <link rel="stylesheet" media="screen and (min-width: 1024px) and (min-width: 1200px)"
        href="/css/desktop/desktop.css" type="text/css" />
</head>

<body>

    {{{body}}}
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="/js/textWriter.js"></script>
    <script src=" /js/switchMode.js">

    </script>
</body>

</html>