<div class="container">
    <nav>
        <img class="logo" src="/assets/logos/svg/logo.svg" alt="logo" />
    </nav>
    <div class="container_presentation">
        <div class="box_heading_informations">
            <h3>Élue l'agence la plus agile de l'année</h3>
            <h1>Votre agence totalement agile et à l'écoute</h1>
            <p>Notre équipe est connue pour travailler avec une méthodologie agile afin de permettre la réalisation de
                votre projet dans des conditions d'améliorations continue</p>
            <button class="btn_heading btn_more_infos">En savoir plus</button>
            <button class="btn_heading btn_contact_us">Contactez-nous</button>
        </div>
        <img src="/assets/assets_content/first_place.png" alt="work_img" </div>
    </div>
    <div class="container_partners">
        <img class="logo_partner" src="/assets/logos/png/LBP2.png" alt="logo_partner" />
        <img class="logo_partner" src="/assets/logos/png/ARPAVIE2.png" alt="logo_partner" />
        <img class="logo_partner" src="/assets/logos/png/BEL2.png" alt="logo_partner" />
        <img class="logo_partner" src="/assets/logos/png/Paris-Habitat2.png" alt="logo_partner" />
        <h3>Ils nous ont fait confiance</h3>
    </div>
</div>